[submodule "frontend"]
	path = frontend
	url = https://github.com/lingfeishengtian/StockSentry_Frontend
[submodule "backend"]
	path = backend
	url = https://github.com/lingfeishengtian/StockSentry_Backend
